body{
    background-color: beige;
    margin:0;
    font-family: Arial;
}

header{
    background-color: green;
    color:white;

    display:flex;
    justify-content: space-between;
    align-items:center;

    padding:20px;
}

nav a{
    color:white;
    margin:10px;
}

.contenido{
    text-align:center;
    margin-top:30px;
}

.imagenes{
    display:flex;
    justify-content: space-around;

    margin-top:40px;
}

.imagenes img{
    width:200px;
    height:200px;
}

.cajas{
    display:flex;
    justify-content: space-around;

    margin-top:30px;
}

.caja{
    background-color:white;
    width:220px;

    text-align:center;

    padding:20px;
}

footer{
    background-color: green;
    color:white;

    text-align:center;

    padding:20px;

    margin-top:40px;
}